*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .dark-background {
    background: #3b434b;
  }
  
  .site-container {
    max-width: 1140px;
  
    /* 水平置中這個元素 */
    margin-left: auto;
    margin-right: auto;
  }
  .sl-logo {
    width: 140px;
  }
  .navbar-link-title {
    color: white;
    text-decoration: none;
  }
  .navbar-right {
    float: right;
  }
  .taiwan-logo {
    width: 25px;
  }

  
